<h1> <%= shoe.user.name %>'s Shoes collection </h1>

<% @shoes.each do |shoe| %>
	<p> Owner: <%= link_to shoe.user.name, owner_path(shoe.user_id) %>
	<br>
<% end %>
<br>
<%= link_to 'Back', shoes_path %>