/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$brand-color: #fff952;

body {
  font-family: 'Montserrat', sans-serif !important;
  h1 {
  	font-weight: 400;
  }
  p {
  	font-weight: 300;
  }
}

.navbar-container {
	display: flex;
	justify-content: center;
}

div#navbarToggleExternalContent {
  text-align: center;
}

.navbar-light .navbar-toggler {
  margin: 0 auto;
  border-color: rgba(0,0,0,0)!important;
}

.bg-light {
  background-color: #ffffff!important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke= 'rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
 }

.navbar-toggler:focus, .navbar-toggler:active {
	outline: none!important;
 }

.logo-container {
	height: 100px;
  width: 400px;
  margin: 0 auto;
  background-image: url(logo.png);
  background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.col-12.col-md-8 {
    background-color: pink;
}

.col-6.col-md-4 {
	background-color: $brand-color;
}