/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@font-face {
	font-family: 'BebasNeueBook', sans-serif;
	src: font-url('BebasNeueBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$brand-color: #fff952;
$bebas: 'BebasNeueBook', sans-serif;
$montserrat: 'Montserrat', sans-serif;

html {
	overflow-y: scroll;
}

body {
	font-family: 'Montserrat', sans-serif !important;

	h1 {
		font-weight: 400;
		text-align: center;
	}

	h2 {
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		padding-bottom: 5px;
		border-bottom: 2px solid $brand-color;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		display: inline-block;
		padding-bottom: 5px;
		border-bottom: 2px solid $brand-color;
	}

	h5 {
		text-align: center;
		font-size: 40px;
		margin: 20px auto;
	}

	p {
		font-weight: 300;
		font-size: 12px;
		margin-bottom: 0;
	}

	a {
		color: black;
	}

	a:hover {
		color: $brand-color;
		text-decoration: none;
	}

	button:active, button:focus, input[type="submit"]:active, input[type="submit"]:focus, button.submit-style:active, button.submit-style:focus {
		outline: none !important;
	}

	.bold {
		font-weight: 500;
		text-transform: uppercase;
	}

	.shadow {
		border: solid 2px;
		box-shadow: 15px 15px 0 0 #F9C397;
	}

}

div#navbarToggleExternalContent {
	text-align: center;
}

.navbar-light .navbar-toggler {
	margin: 0 auto;
	border-color: rgba(0, 0, 0, 0) !important;
}

.bg-light {
	background-color: #ffffff !important;
}

// .navbar-toggler-icon {
// 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=!string!xmlns=!string!%3E%3Cpath stroke=!string!stroke-width=!string!stroke-linecap=!string!stroke-miterlimit=!string!d=!string!/%3E%3C/svg%3E") !important;
// }

.navbar-toggler:focus, .navbar-toggler:active {
	outline: none !important;
}

.logo-container {
	height: 85px;
	margin: 10px auto;
	background-image: url(logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

// INDEX PAGE //
.section-header {
	text-align: center;

	h2 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

.blog {
	margin-top: 50px;
}

.feature-article-col, .side-article-col {

	.feature-article-wrapper {
		position: relative;
		background-size: cover;
		width: 100%;
		height: 600px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.side-article-wrapper {
		position: relative;
		background-size: cover;
		width: 100%;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.article-inner {
		background: #fff;
		position: absolute;
		bottom: 0;
		padding: 15px 30px;
		left: 10%;
		width: 80%;

		h1 {
			text-align: left;
		}

		h3 {
			font-size: 20px;
		}
	}
}

.releases {
	img.card-img-top {
    width: 50%;
    margin: 0 auto;
	}

	.card-body {
		text-align: center;
	}

	.card-footer {
		background-color: $brand-color;
		text-align: center;
		border: none;

		p {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 2px;
		}
	}

	p.card-text {
		font-size: 15px;
	}

	h5.card-title {
    font-size: 20px;
	}
}

// BLOG SHOW PAGE //
.blog-post-container {

	margin-top: 50px;

	p {
		margin-bottom: 20px;
	}

	h3 {
		font-size: 15px;
	}

	.blog-title {
		margin-bottom: 20px;
	};

	img {
		max-height: 500px;
		margin-right: 30px;
    margin-bottom: 30px;
	}
}


// COLLECTION PAGE //
.collection-owner {
	display: flex;
	justify-content: center;
	margin: 50px auto 0 auto;
}

// filters column
.filter {
	margin: 20px auto;
	padding: 45px;
	text-align: center;

	button {
		font-family: $montserrat;
		font-size: 15px;
		padding: 2px 5px;
		border: none;
		background: black;
		color: $brand-color;
	}

	.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
		color: black;
		background-color: $brand-color;
		border-color: $brand-color; /*set the color you want here*/
		box-shadow: 0 0 0 0.2rem $brand-color;
	}

}

.filter-header {
	background: linear-gradient(to bottom, $brand-color 0%, $brand-color 100%) no-repeat;
	background-size: (40% 57%);
	background-position: bottom;

	h1 {
		font-family: $bebas;
		font-size: 25px;
		margin: 20px 0;
	}

}

#sorting-form {
	font-size: 13px;

	select:active, select:focus, button {
		outline: none !important;
	}

}

.filter-checkbox {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 4px auto;

	p {
		display: inline-block;
		font-weight: 300;
		font-size: 15px;
	}

	input[type='0 0 30 30'] {
		margin-right: 5px;
	}

}

//shoe cards
.collection {
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}

.shoe-container {
	display: inline-block;
	margin: 0px 40px;
	position: relative;
	width: 260px;
	height: 280px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.shoe-caption {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

// SHOW SHOE PAGE //
.shoe-main-content {
	h3 {
		margin-bottom: 20px;
		display: inline-block;
		padding-bottom: 2px;
		border-bottom: 2px solid $brand-color;
	}

	p {
		font-size: 15px;
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 10px auto;
	}

	button {
		font-family: $bebas;
		font-size: 20px;
		border: none;
		background: linear-gradient(to bottom, $brand-color 0%, $brand-color 100%) no-repeat;
		background-size: (80% 60%);
		background-position: bottom;
	}

	input[type="submit"], button.submit-style {
		font-family: $montserrat;
		font-size: 15px;
		font-weight: 300;
		margin: 30px 0;
		padding: 8px;
		border: none;
		background: black;
		color: $brand-color;
		display: inline;
	}

}

.shoe-picture {
	margin: 0 auto;
	width: 100%;
	height: 500px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.shoe-market-price {
	display: flex;
	justify-content: center;

	.card {
		width: 20%;
		display: inline-block;
		margin: 10px;

		.card-body {
			text-align: center;
		}

		img {
			height: 50px;
		}

	}

}

// EDIT SHOE PAGE //
#edit-form {
	margin-top: 10px;

	p {
		margin: 20px 0;
	}

	label {
		font-weight: 500;
		margin: 0 auto;
	}

	input {
		font-weight: 300;
		border: none;
		padding-bottom: 2px;
		border-bottom: 1px solid $brand-color;
	}

	input[type='rgb(0, 0, 0)'] {
		margin: 0;
	}

}

// media queries //
@media (max-width:480px) {

	.blog {
		margin-top: 20px;
	}

	.feature-article-col, .side-article-col {

	.feature-article-wrapper {
		position: relative;
		background-size: cover;
		width: 100%;
		height: 150px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.side-article-wrapper {
		position: relative;
		background-size: cover;
		width: 100%;
		height: 150px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.article-inner {
		background: #fff;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    left: 10%;
    width: 80%;

		h1 {
			font-size: 12px;
			text-align: left;
		}

		h3 {
			font-size: 12px;
		}

		p {
	    font-size: 9px;
		}
	}
}

	.shoe-container {
		margin: 0;
	}

	.shoe-picture {
		height: 250px;
	}

	.shoe-main-content {
		text-align: center;

		h3 {
			font-size: 20px;
		}

	}

	.col-12.col-md-9.collection {
		justify-content: center;
	}

	.shoe-market-price {
		flex-wrap: wrap;

		.card {
			width: 100%;
			display: block;
		}

	}

}