<%= render "layouts/header" %>

<!-- main content section -->
<div class="main-content container-fluid">

	<div class="list-shoes">
	  <ul>
	    <% @shoes.each do |shoe| %>
	      <%= render shoe %>
	      <br>
	    <% end %>
	  </ul>

	  <%= will_paginate @shoes, renderer: WillPaginateInfinite::InfinitePagination %>
	</div>

</div close container>