  <!-- header section can be saved as partial -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
      <p class="text-uppercase d-block">LINK 1</p>
      <p class="text-uppercase d-block">LINK 2</p>
      <p class="text-uppercase d-block">LINK 3</p>
    </div>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="logo-container">
</div>
<!-- end header section -->

<!-- main content section -->

<h1>Testing to see if</h1>
<p>This font is Oswald</p>

<br/>

<%- if user_signed_in? %>
  <%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete' %>

<% else %>
 	<%= link_to t('auth.sign_in'), new_user_session_path %>
 	<br/>
  <%= link_to t('auth.sign_up'), new_user_registration_path %>
<% end %>