  <!-- header section can be saved as partial -->
	<div class="collapse" id="navbarToggleExternalContent">
	  <div class="p-4">
	      <p class="text-uppercase d-block">LINK 1</p>
	      <p class="text-uppercase d-block">LINK 2</p>
	      <p class="text-uppercase d-block">LINK 3</p>
	    </div>
	  </div>
	  <nav class="navbar navbar-light">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	  </nav>
	</div>


<!-- end header section -->

<!-- main content section -->
<div class="main-content container-fluid">
	<div class="row-fluid">
		<div class="col-12 logo-container"></div>
	</div>
	<div class="row">
    <div class="col-6 col-md-4">This is where the filter stuff will go</div>
  	<div class="d-flex flex-row col-12 col-md-8 ">This is where shoes go - need to loop over content</div>
  </div>
</div>