<%= render "layouts/header" %>

<div class="section-header">
	<h2>All Sneaks</h2>
</div>


<!-- main content section -->
<div class="main-content container-fluid">

	<div class="list-shoes">
	  <ul>
	    <% @shoes.each do |shoe| %>
	      <%= render shoe %>
	      <br>
	    <% end %>
	  </ul>

	  <%= will_paginate @shoes, renderer: WillPaginateInfinite::InfinitePagination %>
	</div close list shoes>

</div close container>