<h1> Shoe index page </h1>

<% if user_signed_in? %>
	<%= link_to 'Add new shoe', new_shoe_path %>
	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'User Sign in', new_user_session_path %>
<% end %>

<% @shoes.each do |shoe, i| %>
	<% break if i == 2 %>
	<p> Owner: <%= link_to shoe.user.name , owner_path(shoe.user_id) %>
	<br>

<% end %>