<header>
	<nav class="header-nav">
		<div class="row-fluid">
			<div class="container">
				<a href="#navigation" class="btn-navbar toggle-navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
			</div>
		</div>
	</nav>
</header>